h1 {
    background-color: rgb(186, 236, 236);
    height:45px;
    padding-top: 1%;
}

h2.nombre {
    background-color: rgb(186, 236, 236);
    height:45px;
    padding-top: 1%;
}

h2.titulo{
    text-decoration: underline;
}

h3{
    font-weight: normal;
}

div.contenedor{
    float:left;
    width:30%;
    margin-bottom: 3%;
    margin-top: 3%;
    border: solid 1px;
    margin-right: 1.5%;
    margin-left: 1.5%
}

div.general{
    overflow: hidden;
    width: 100%;
}

button.color{
    background-color: thistle;
}

button.borrar{
    background-color: tan;
}

button{
    margin-bottom: 3%;
    border: solid 1px;
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 6px;
    padding-left: 6px;
}

button.reset{
    border: solid 2px;
    font-size: 19px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 21%;
    padding-left: 21%;
    background-color: silver;
}


*{
    text-align: center;
}